html{
    background-image:url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 1350px, 900px;
}
body { 
    font-family: 'Bubblegum Sans', cursive;
    font-size: 100%;
    width: 900px;
    margin: 0 auto;
}
main {
    font-family: 'Bubblegum Sans', cursive;
    display: block;
    width: 900px;
    margin: 0 auto;
    padding: 1em;
    background: transparent;
}
header{
    font-family: 'Bubblegum Sans', cursive;
    background-size: 900px;
    padding: 1em;
    
}

nav{
    width: 937px;
    margin: 0 auto;
    font-size: 2em;

}
nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;

}

nav li {
    float: left;
    display: inline;
}

nav li a {
    display: block;
    color: white;
    padding: 14px 25px;
    text-decoration: none;
    margin: 0 auto;
}
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the link color to #111 (black) on hover */
nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 0;
    color: navy;
}
label {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}
#data input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}
#buttons input {
    float: left;
    margin-bottom: .5em;
}
br {
    clear: left;
}
.error {
    color: red;
    font-weight: bold;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: .2em .5em .2em .5em;
    vertical-align: top;
    text-align: left;
}


.capital_letters img{
    width: 5em;
    height: 5em;
}

.lower_letter img{
    width: 3em;
    height: 3em;
    
}

.bottom_row_letters {
    align-content: center;
}


.weather {
    float: right;
}

form {
    display: inline-block; 
}

#image_button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
    